.project {
  overflow: hidden;
  width: 100%;
  display: block;
  position: relative;
  --easeOutQuint: cubic-bezier(0.22, 1, 0.36, 1);
  background: black;
}

.project[data-hidewhencurrent] {
  transition: opacity .1s;
}

.project[data-hidewhencurrent="false"] {
  opacity: 1;
}

.project[data-hidewhencurrent="true"] {
  opacity: 0;
};

.project[data-itchi="true"] .content:nth-child(1) {
  transition: transform 1s var(--easeOutQuint);
}

.project[data-itchi="true"] .content:nth-child(2) {
  transition: transform 1s var(--easeOutQuint) 125ms;
}

.project[data-itchi="true"] .content:nth-child(3) {
  transition: transform 1s var(--easeOutQuint) 250ms;
}

.project[data-itchi="true"] .content:nth-child(4) {
  transition: transform 1s var(--easeOutQuint) 375ms;
}

.content {
  position: relative;
  width: 100%;
  overflow: hidden;
  cursor: pointer;
}

.project .content {
  transform: translateX(100%);
}

.project[data-itchi="true"] .content {
  transform: translateX(0%);
}

.content:before {
  content: "";
  position: absolute;
  height: 12px;
  width: 0%;
  background: rgb(255 255 255 / 0.2);
  z-index: 14;
  transition: width 0ms;
}

.content:hover:before {
  --expoInOut: cubic-bezier(0.87, 0, 0.13, 1);
  width: 100%;
  opacity: 0;
  transition: width 500ms var(--expoInOut), opacity 125ms linear 600ms;
}

.bleed {
  user-select: none;
  width: 100%;
  height: 100%;
  background: white;
  position: absolute;
  z-index: 12;
  padding: 1.5rem 2rem;
  top: 0;
  transform: translateY(100%);
  transition: transform 750ms var(--expoOut);
}

.content:hover .imagine {
  color: black;
  transition: color 125ms linear 500ms;
}

.content:hover .bleed {
  transition-delay: 500ms;
  transform: translateY(0%);
}

.content:hover .cupcakke,
.content:hover .kickback {
  transition-delay: 750ms;
  opacity: 1;
}

.cupcakke,
.kickback {
  font-family: var(--font);
  font-weight: 500;
  font-size: 1.5em;
  font-style: italic;
  max-width: 60%;
  opacity: 0;
  transition: opacity 125ms linear;
  line-height: 1.15;
}

.cupcakke {
  margin: 1rem 0;
}

.kickback {
  display: flex;
}

.kickback .brand svg {
  width: 24px;
  height: 24px;
}

.kickback .brand + .brand {
  margin-left: 10px;
}

.prismatics {
  height: 256px;
  width: 100%;
  z-index: 11;
  background-color: #121112;
}

.prismatics img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  opacity: 0;
  transition: opacity 125ms linear;
}

.prismatics img.archive {
  filter: grayscale(1) brightness(0.5);
}

.prismatics img.jpuf {
  opacity: 1;
}

.imagine {
  color: white;
  position: relative;
  z-index: 13;
  display: inline-flex;
  width: 100%;
  justify-content: space-between;
  margin: 0 0 1.25rem;
  position: absolute;
  bottom: 0;
  padding: 0 2rem;
  box-sizing: border-box;
  opacity: 0;
  transition: opacity 125ms linear;
  font-family: var(--font);
}

.content:hover .imagine {
  opacity: 1;
}

.content:hover .prismatics:before {
  opacity: 0.75;
}

.prismatics:before {
  content: "";
  transition: opacity 125ms linear;
  background: linear-gradient(0deg, black 0%, transparent 100%);
  opacity: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

.sike {
  font-weight: 700
}

.cite {
  font-weight: 500;
  cursor: pointer;
  transition: opacity 125ms linear;
}

.cite:hover {
  opacity: 0.6;
}

.project_filter_work_button {
  position: fixed;
  display: flex;
  bottom: 0;
  color: white;
  font-size: 1.5em;
  width: 100%;
  justify-content: center;
  padding: 2.5rem 0;
  cursor: pointer;
  text-transform: uppercase;
  z-index: 12;
  background: linear-gradient(0deg, black 0%, transparent 100%);
}

.project_filter_work_button h2 {
  transition: opacity 125ms ease-out;
}

.project_filter_work_button:hover h2 {
  opacity: 0.6;
}

.project_filter_work {
  --brighterPink: #d80071;
  position: fixed;
  height: 100vh;
  z-index: 69420;
  transform: translateY(100%);
  opacity: 0;
  transition: transform 750ms var(--expoOut), opacity 125ms linear;
  display: block;
  width: 100%;
}

.project_filter_work_inner {
  position: fixed;
  height: 100%;
  width: 70%;
  display: flex;
  flex-direction: column;
  background: #c8c8c8;
  justify-content: space-around;
  align-items: center;
  padding: 0 0 5.5rem;
}

.project_filter_work[data-state="true"] {
  transform: translateY(0%);
  opacity: 1;
}

.project_filter_work_classification {
  width: 100%;
  padding: 0 5rem;
}

.project_filter_work_classification h3 {
  font-size: 2em;
  text-transform: uppercase;
}

.project_filter_work_classification_list {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}

.project_filter_work_classification_individual {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  cursor: pointer;
  user-select: none;
}

.project_filter_work_classification_individual_name {
  transition: transform 250ms var(--expoOut), color 125ms ease;
  font-size: 1.25em;
  position: relative;
}

.project_filter_work_classification_individual_name:after {
  content: "";
  height: 2px;
  position: absolute;
  width: 0%;
  background: var(--brighterPink);
  transition: width 250ms var(--expoOut);
}

.project_filter_work_classification_individual:hover .project_filter_work_classification_individual_name,
.project_filter_work_classification_individual[data-state="true"] .project_filter_work_classification_individual_name {
  transform: skew(-5deg);
  color: #880047;
}

.project_filter_work_classification_individual[data-state="true"] .project_filter_work_classification_individual_name {
  color: var(--brighterPink);
}

.project_filter_work_classification_individual[data-state="true"] .project_filter_work_classification_individual_name:after {
  width: 100%;
}

.project_filter_work_close_burger {
  transition: background-color 125ms ease;
}

.project_filter_work_close:hover .project_filter_work_close_burger > *:before,
.project_filter_work_close:hover .project_filter_work_close_burger > *:after {
  background-color: var(--brighterPink);
}

.project_filter_work_button {
  transition: transform 250ms ease, opacity 125ms linear;
}

.project_filter_work_button[data-state="true"] {
  transform: translateY(100%);
}

@media only screen and (max-width:1024px) {
  .prismatics {
    height: 385px;
  }

  .project_filter_work_inner {
    width: 100%
}
}

@media only screen and (max-width: 768px) {
  .bleed p {
    font-size: 1.125em;
    max-width: 90%;
  }

  .cupcakke {
    max-width: 90%;
  }
}