:root {
  --fonts: "Readex Pro", Arial, monospace;
  --mainColor: #121112;
}

body,html {
  background: #121112;
  overflow: hidden;
  font-family: var(--fonts);
}

a, p, li, h1, h2, h3, h4, h5, h6 {
  color: white;
  margin: 0.67em 0;
}

p {
  font-weight: 200;
  letter-spacing: 1px;
}