div.main {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  align-items: center;
  padding: 5em 0;
  width: 100%;
  height: 100vh;
  background: #121112;
}

section.upload {
  margin: 2em 0;
}

section.upload > *+* {
  margin: 3em 0;
}

section.ready {
  display: none;
}

section.description p {
  line-height: 2;
}

section.ready.phased {
  display: flex;
  display: -webkit-flex;
  justify-content: center;
}

section.title h1 {
  letter-spacing: 1px;
  font-weight: 700;
}

button.uploadButton,
label.uploadButton {
  background: white;
  border: 0;
  border-radius: 0px;
  color: var(--mainColor);
  cursor: pointer;
  display: inline-block;
  font-size: 1.25em;
  font-weight: 600;
  letter-spacing: 1px;
  padding: 10px 30px;
  margin: 0 2em;
}

label.uploadButton:hover {
  opacity: 0.8;
}

button.copyURLs {
  font-size: 14px;
  padding: 5px 15px;
  letter-spacing: 1px;
  margin: 2.5em 0;
}

section.progress,
section.result,
input[type=file],
input[type=submit] {
  display: none;
}

section.progress.phased {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  justify-content: space-between;
  width: 25em;
  align-items: flex-start;
  margin: 3em auto;
}

section.result.phased {
  display: flex;
  display: -webkit-flex;
  justify-content: space-between;
  flex-direction: column;
}

section.result.phased p {
  text-overflow: ellipsis;
  max-width: 30em;
  white-space: nowrap;
  overflow: hidden;
}

section.progress span.bar,
section.progress p {
  position: relative;
}

section.progress span.bar {
  height: 3px;
  background: white;
  width: 0%;
  transition: width 500ms cubic-bezier(0.19, 1, 0.22, 1);
  margin: 1em 0;
}

@media only screen and (max-width: 768px) {
  section.ready form {
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    align-items: center;
  }

  section.ready form>*+* {
    margin-top: 2em;
  }

  section.title h1 {
    font-size: 15px;
    text-overflow: ellipsis;
  }

  section.description {
    margin: 0 2em;
  }

  section.description p {
    font-size: 12px;
    text-overflow: ellipsis
  }

  section.result {
    flex-direction: column;
    margin: 3em 1.25em;
  }

  section.result.phased p {
    text-overflow: ellipsis;
    position: relative;
    font-size: 13px;
  }

  section.progress.phased {
    width: max-content;
    align-items: center;
    justify-content: center;
  }

  section.title {
    margin: 0 1em;
  }
}